.bd-sidebar {
  @include media-breakpoint-down(md) {
    margin: 0 ($bd-gutter-x * -1) 1rem;
  }
}

.bd-links {
  overflow: auto;

  @include media-breakpoint-up(md) {
    position: sticky;
    top: 5rem;
    // Override collapse behaviors
    // stylelint-disable-next-line declaration-no-important
    display: block !important;
    height: subtract(100vh, 10rem);
    // Prevent focus styles to be cut off:
    padding-left: .25rem;
    margin-left: -.25rem;
    overflow-y: auto;
  }

  > ul {
    @include media-breakpoint-down(md) {
      padding: 1.5rem .75rem;
      background-color: $gray-100;
      border-bottom: 1px solid $gray-200;
    }
  }
}

.bd-links-link {
  padding: .1875rem .5rem;
  margin-top: .125rem;
  margin-left: 1.125rem;
  color: rgba($black, .65);
  text-decoration: if($link-decoration == none, null, none);

  &:hover,
  &:focus,
  &.active {
    color: rgba($black, .85);
    text-decoration: if($link-hover-decoration == underline, none, null);
    background-color: rgba($bd-purple-bright, .1);
  }

  &.active {
    font-weight: 600;
  }
}
