<div class="bd-masthead mb-3" id="content">
  <div class="col-md-8 col-xl-6 px-4 px-md-3 mx-auto text-center">
    <a class="d-block d-sm-inline-block py-2 px-3 mb-4 text-dark text-decoration-none rounded-3 masthead-notice" href="https://blog.getbootstrap.com/2021/08/04/bootstrap-5-1-0/">
      <strong>New in v5.1:</strong> CSS Grid, offcanvas navbars, improved utilities, and more!
      </a>
    <!-- {{ partial "icons/homepage-hero.svg" (dict "class" "img-fluid mb-3 mb-md-0" "width" "300" "height" "266") }} -->
    <img src="/docs/{{ .Site.Params.docs_version }}/assets/brand/bootstrap-logo-shadow.png" width="200" height="165" alt="Bootstrap" class="d-block mx-auto mb-3">
    <h1 class="mb-3 fw-semibold">Build fast, responsive sites with Bootstrap</h1>
    <p class="lead mb-4">
      Powerful, extensible, and feature-packed frontend toolkit. Build and customize with Sass, utilize prebuilt grid system and components, and bring projects to life with powerful JavaScript plugins.
    </p>
    <div class="d-flex flex-column flex-md-row align-items-md-stretch justify-content-md-center mb-4">
      <div class="d-inline-block mb-3 mb-md-0 me-md-3 v-align-middle fs-5" style="min-width: fit-content;">
        {{ highlight "npm install bootstrap" "sh" "" }}
      </div>
      <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/" class="btn btn-lg btn-bd-primary d-flex align-items-center justify-content-center" onclick="ga('send', 'event', 'Jumbotron actions', 'Get started', 'Get started');">
        <svg class="bi me-2"><use xlink:href="#book-half"></use></svg>
        Read the docs
      </a>
    </div>
    <p class="text-muted mb-0">
      Currently <strong>v{{ .Site.Params.current_version }}</strong>
      <span class="px-1">&middot;</span>
      <a href="https://getbootstrap.com/docs/4.6/getting-started/introduction/" class="link-secondary">v4.6.x docs</a>
      <span class="px-1">&middot;</span>
      <a href="/docs/versions/" class="link-secondary">All releases</a>
    </p>
    {{ partial "ads" . }}
  </div>
</div>

<!-- <div class="bd-masthead mb-3 d-none" id="content">
  <div class="container px-4 px-md-3">
    <div class="row align-items-lg-center">
      <div class="col-8 mx-auto col-md-4 order-md-2 col-lg-5">
        {{ partial "icons/homepage-hero.svg" (dict "class" "img-fluid mb-3 mb-md-0" "width" "600" "height" "533") }}
      </div>
      <div class="col-md-8 order-md-1 col-lg-7 text-center text-md-start">
        <h1 class="mb-3">Build fast, responsive sites with Bootstrap</h1>
        <p class="lead mb-4">
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt components, and powerful JavaScript plugins.
        </p>

        <div class="d-flex flex-column flex-md-row">
          <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/introduction/" class="btn btn-lg btn-bd-primary mb-3 me-md-3" onclick="ga('send', 'event', 'Jumbotron actions', 'Get started', 'Get started');">Get started</a>
          <a href="/docs/{{ .Site.Params.docs_version }}/getting-started/download/" class="btn btn-lg btn-outline-secondary mb-3" onclick="ga('send', 'event', 'Jumbotron actions', 'Download', 'Download {{ .Site.Params.current_version }}');">Download</a>
        </div>
        <p class="text-muted mb-0">
          Currently <strong>v{{ .Site.Params.current_version }}</strong>
          <span class="px-1">&middot;</span>
          <a href="https://getbootstrap.com/docs/4.6/getting-started/introduction/" class="link-secondary">v4.6.x docs</a>
          <span class="px-1">&middot;</span>
          <a href="/docs/versions/" class="link-secondary">All releases</a>
        </p>
      </div>
    </div>
    {{ partial "ads" . }}
  </div>
</div> -->
